p {
  color: cornflowerblue;
}
.copy p {
  background: lightcoral;
  color: greenyellow;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

.tab {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.specs {
  display: inline-block;
  margin: 0;
  padding: 0;
}

h1 p {
  background: darkcyan;
  color: white;
  padding: 30px;
  font-size: smaller;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.wrapler ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
body {
  background-color: burlywood;
  margin: ;
}

.menu li {
  text-align: right;
}

.topline {
  background-color: lightskyblue;
  padding: 10px;
  margin: 0;
}

.header-name {
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  padding: 40px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
